{% extends "base.html" %}{% block title %}Admin{% endblock %}
{% block content %}
<div class="container-fluid mb-3">
    <h4 class="text-center m-2">Welcome, <strong>{{ username }}!</strong></h4>
</div>
<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" accept="image/*">
    </div>
    <button type="submit" class="btn btn-primary">Upload Image</button>
</form>
{% endblock %}