{% extends "base.html" %}{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container col-sm-8 mt-2 rounded shadow">
    <div class="container p-3">
        <h2>SIGN UP</h2>
        <small>Already have an account? <a href="/login">Login</a></small><br><br>
        <form method="POST" onsubmit="return validateForm()" autocomplete="on">
            <div class="mb-3">
                <label for="firstname">Firstname:</label>
                <input type="text" class="form-control" id="firstname" name="firstname" minlength="2" maxlength="100"
                    required>
            </div>
            <div class="mb-3">
                <label for="lastname">Lastname:</label>
                <input type="text" class="form-control" id="lastname" name="lastname" minlength="2" maxlength="100"
                    required>
            </div>
            <div class="mb-3">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" minlength="2" maxlength="100"
                    required>
            </div>
            <div class="mb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="telephone">Telephone:</label>
                <input type="tel" class="form-control" id="telephone" name="telephone" pattern="[0-9]{10}"
                    placeholder="Please enter a 10-digit phone number" required>
            </div>
            <div class="mb-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <small><strong>Should contain at least one Uppercase, Lowercase, Special character & number
                    </strong></small>
            </div>
            <div class="mb-3">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" id="agree" name="agree" required>
                <label class="form-check-label" for="agree">I agree</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br><small>By clicking on "I agree" and "Submit" button, you are creating an account, and agree to
                KAWODZE's <strong>Terms of Service</strong> and <strong>Privacy Policy</strong></small>
        </form>
    </div>
</div>{% endblock %}